/* ---------------------------------------------------------------------------- */
/* Headers Format */
/* ---------------------------------------------------------------------------- */

.theme-dark .cm-header-1,
.theme-dark h1 {
    color: #f799aa;
}

.theme-dark .cm-header-2,
.theme-dark h2 {
    color: #f6c5fa;
}

.theme-dark .cm-header-3,
.theme-dark h3 {
    color: #aab6fa;
}

.theme-dark .cm-header-4,
.theme-dark h4 {
    color: #8ebba7;
}

.theme-dark .cm-header-5,
.theme-dark h5 {
    color: #f2e1c2;
}

.theme-dark .cm-header-6,
.theme-dark h6 {
    color: #7f7f7f;
}

/* ---------------------------------------------------------------------------- */
/* Links Format */
/* ---------------------------------------------------------------------------- */

.theme-dark .cm-hmd-internal-link,
.theme-dark .internal-link {
    color: #bcffc1 !important;
}

.theme-dark .cm-link,
.theme-dark .external-link {
    color: #f2af88 !important;
}

/* ---------------------------------------------------------------------------- */
/* Bullet Point Relationship Lines */
/* ---------------------------------------------------------------------------- */

.cm-hmd-list-indent .cm-tab, ul ul { position: relative; }
.cm-hmd-list-indent .cm-tab::before, ul ul::before {
 content:'';
 border-left: 1px solid rgba(228, 222, 172, 0.5);
 position: absolute;
}

.cm-hmd-list-indent .cm-tab::before { left: 0; top: -5px; bottom: -4px; 
}

ul ul::before { left: -11px; top: 0; bottom: 0; 
} 